/** @format */

/// tag associated
@import "hr";
@import "icon";
@import "inputText";
@import "inputCheckbox";
@import "inputSelect";
@import "navList";
@import "navListToggle";

/// non tag associated
@import "text";
@import "emoji";
@import "logo";
@import "avatar";
@import "avatarAureo";
@import "back";
@import "box";
@import "link";
@import "linkNav";
@import "button";
@import "buttonToggle";
@import "holder";
@import "view";
@import "navigationX";
@import "navigationY";

/// There are some components that share common styles

/// navList-group & navListToggle-group shared styles
///
/// @group SharedStyles
ul,
ol {
	&.c-nList-group,
	&.c-nListToggle-group {
		overflow: hidden;

		/// flow direction
		///
		/// @group Modifiers
		&.m__flow-row {
			@include flexbox(row, nowrap, flex-start, center);
			> li:not(:last-child) {
				margin-right: 1rem;
			}
		}
		/// default flow
		&:not([class*="m__flow"]),
		&.m__flow-column {
			@include flexbox(column, nowrap, flex-start, stretch);
			> li:not(:last-child) {
				margin-bottom: 0.5rem;
			}
		}

		> li {
			.c-link,
			.c-linkNav {
				white-space: normal;
				line-height: $lineHeightMedium;
			}
		}
	}
}

/// button & buttonToggle shared styles
///
/// @group SharedStyles
.c-btn,
.c-btnToggle {
	/// this is the default value
	&.m__size-normal,
	&:not([class*="m__size"]) {
		padding: 0.1rem 1.2rem 0;
		&.m__round {
			width: 2.4rem;
		}
	}

	/// round button
	///
	/// @group Modifiers
	&.m__round {
		padding: 0;
		i.c-icon {
			margin: 0 !important;
			+ span {
				display: none;
			}
		}
	}
}

/// button, buttonY & select shared styles
///
/// @group SharedStyles
.c-btn,
.c-btnY,
select.c-inSelect {
	white-space: nowrap;

	/// button, select theme
	/// first value is the bgColor
	/// second value is the textColor
	///
	/// @group Unions

	&.u__tm-primary-light {
		background-color: color(primary);
		color: color(light);
		border-color: transparent;
		&:hover,
		&:focus {
			border-color: color(light, 0.3);
			color: color(light, 0.7);
		}
		&.is__routeExact,
		&.is__active {
			border-color: color(primary);
			color: color(primary);
		}
		&:disabled,
		&[disabled] {
			border-color: color(primary, 0.3);
			color: color(primary, 0.3);
		}
	}
	&.u__tm-secondary-light {
		background-color: color(secondary);
		color: color(light);
		border-color: transparent;
		&:hover,
		&:focus {
			border-color: color(light, 0.3);
			color: color(light, 0.7);
		}
		&.is__routeExact,
		&.is__active {
			border-color: color(secondary);
			color: color(secondary);
		}
		&:disabled,
		&[disabled] {
			border-color: color(secondary, 0.3);
			color: color(secondary, 0.3);
		}
	}
	&.u__tm-light-secondary {
		color: color(secondary);
		background-color: color(light);
		border-color: color(dark, 0.1);
		box-shadow: 1px 1px 3px color(dark, 0.1);
		&:hover,
		&:focus {
			border-color: color(secondary, 0.3);
			color: color(secondary, 0.7);
		}
		&:disabled,
		&[disabled] {
			border-color: color(light, 0.3);
			color: color(light, 0.3);
		}
		&.is__routeExact,
		&.is__active {
			border-color: color(light);
			color: color(light);
		}
	}
	/// default theme
	&:not([class*="u__tm"]),
	&.u__tm-light-primary {
		color: color(primary);
		background-color: color(light);
		border-color: color(dark, 0.1);
		box-shadow: 1px 1px 3px color(dark, 0.1);
		&:hover,
		&:focus {
			border-color: color(primary, 0.3);
			color: color(primary, 0.7);
		}
		&:disabled,
		&[disabled] {
			border-color: color(light, 0.3);
			color: color(light, 0.3);
		}
		&.is__routeExact,
		&.is__active {
			border-color: color(light);
			color: color(light);
		}
	}

	/// OVERRIDE: dejar en el final
	&.is__routeExact,
	&.is__active,
	&:disabled,
	&[disabled] {
		background-color: transparent;
	}
}

/// text, select, button & buttonToggle shared styles
///
/// @group SharedStyles
.c-btn,
.c-btnToggle,
select.c-inSelect {
	border-style: solid;
	text-shadow: none;
	box-sizing: border-box;
	&:not([class*="gm__txtSize"]) {
		font-size: 1rem;
	}
	/// this is the default value
	&.m__size,
	&.m__size-normal,
	&:not([class*="m__size"]) {
		height: 2.4rem;
		border-radius: 1.2rem;
		border-width: 1px;
	}
}

/// button, buttonToggle, link & linkNav shared styles
///
/// @group SharedStyles
.c-btn,
.c-btnToggle,
.c-link,
.c-linkNav {
	&,
	> :not(.c-icon) {
		&::first-letter {
			text-transform: capitalize;
		}
	}
	:not(.c-icon):first-child ~ i.c-icon {
		margin-left: 0.4em;
	}
	i.c-icon ~ :not(.c-icon) {
		margin-left: 0.4em;
	}
}

/// button, buttonToggle, link, linkNav & select shared styles
///
/// @group SharedStyles
.c-btn,
.c-btnToggle,
.c-link,
.c-linkNav,
.c-inTxt,
select.c-inSelect {
	&:disabled,
	&[disabled] {
		opacity: 0.3;
		pointer-events: none;
	}
}

/// LOOPS

@each $name, $size in $fontSizes {
	/// button & buttonToggle shared styles
	///
	/// @group SharedStyles
	.c-btn,
	.c-btnToggle {
		&.m__size-#{$name} {
			padding: 0 #{$size * 1.2};
			&.m__round {
				width: $size * 2.6;
			}
		}
	}
	/// text, select, button & buttonToggle shared styles
	///
	/// @group SharedStyles
	.c-btn,
	.c-btnToggle,
	select.c-inSelect {
		&.m__size-#{$name} {
			height: $size * 2.6;
			border-radius: $size * 1.3;
			border-width: calc(2px + (#{$size} / 18));
		}
	}
}
